= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :issue_type
    = f.text_field :issue_type
  .field
    = f.label :issue_subject
    = f.text_field :issue_subject
  .field
    = f.label :issue_description
    = f.text_field :issue_description
  .field
    = f.label :raised_by
    = f.number_field :raised_by
  .field
    = f.label :raised_at
    = f.text_field :raised_at
  .field
    = f.label :datetime
    = f.text_field :datetime
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :assigned_to
    = f.number_field :assigned_to
  .actions
    = f.submit 'Save'
