%h1 Listing tickets

%table
  %thead
    %tr
      %th Issue type
      %th Issue subject
      %th Issue description
      %th Raised by
      %th Raised at
      %th Datetime
      %th Status
      %th Assigned to
      %th
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.issue_type
        %td= ticket.issue_subject
        %td= ticket.issue_description
        %td= ticket.raised_by
        %td= ticket.raised_at
        %td= ticket.datetime
        %td= ticket.status
        %td= ticket.assigned_to
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
