%p#notice= notice

%p
  %b Issue type:
  = @ticket.issue_type
%p
  %b Issue subject:
  = @ticket.issue_subject
%p
  %b Issue description:
  = @ticket.issue_description
%p
  %b Raised by:
  = @ticket.raised_by
%p
  %b Raised at:
  = @ticket.raised_at
%p
  %b Datetime:
  = @ticket.datetime
%p
  %b Status:
  = @ticket.status
%p
  %b Assigned to:
  = @ticket.assigned_to

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
