.authform.top_margin
  = form_for(resource, :as => resource_name, :url => session_path(resource_name) do |f|
    %h3.col-md-offset-3 Sign in
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      - if devise_mapping.recoverable?
        .col-md-offset-2= link_to "Forgot password?", new_password_path(resource_name), class: 'right'
    .form-group
      .col-md-9
        = f.submit 'Sign in', :class => 'btn btn-primary right'
    .clear