/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require framework_and_overrides
 *= require_self
 *= require material
 *= require roboto
 *= require jquery-ui/dialog
 *= require jquery-ui/datepicker
 */

.fl {
  float: left;
}

.fr { 
  float: right;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.f21 { 
  font-size: 21px;
}

.f36 { 
  font-size: 36px;
}

.f18 { 
  font-size: 18px;
}

.f16 { 
  font-size: 16px;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.slight_top_margin {
  margin-top: 2em;
}

.vslight_top_margin {
  margin-top: 1em;
}


.left_margin { 
  margin-left: 1em !important;
}
.top_margin {
  margin-top: 5em;
}

.padding_half {
  padding: 0.5em;
}
.padding {
    padding: 1em;
}

.clear {
  clear: both;
}

.dash_item {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid #CCCCCC;
  text-align: center;
  width: 12em;
  height: 7em;
}

.cal { 
  text-align: center;
}

#loading {
  display: none;
  background-color: #FFCC00;
  color: black;
  padding: 0.5em 1em;
  width: 6em;
  margin-left: -35px;
  z-index: 100000;
  position: fixed;
  left: 50%;
}

.width50{
  width: 50%;
}

.width_auto {
  width: auto;
}

.inline-block {
  display: inline-block;
}

.no_hori_margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.width25em {
  max-width: 25em;
}

.width26em {
  max-width: 26em;
}

.no_padding{
  padding: 0px !important;
}

.rightpad { 
  padding-right: 1em;
}

.leafpad { 
  padding-left: 2em !important;
}

.half_leftpad {
  padding-left: 0.5em;
}

.thick_rightpad { 
  padding-right: 3em;
}

.bottom_padding {
  padding-top: 0 !important;
  padding-bottom: 0.5em !important;
}

.some_bottom_padding {
  padding-top: 0 !important;
  padding-bottom: 1.5em !important;
}

.panel-heading {
  font-size: 16px;
}

.hori_padding {
  padding-left: 1em;
  padding-right: 1em;
}

.small_hori_margin {
  margin-left: 0.2em;
  margin-right: 0.2em;  
}

.top_padding {
  padding-top: 0.5em !important;
  padding-bottom: 0 !important;
}

.top_padding_px {
  padding-top: 10px !important;
}

.top_padding_20px {
  padding-top: 20px !important;
}

.top_padding_30px {
  padding-top: 30px !important;
}
.vmid {
  vertical-align: middle !important;
}

.rightpad2em {
  padding-right: 2em;
}

.small_vert_margin {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.index_row { 
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #6E6E6E;
}

.wrap {
  word-wrap: break-word;
}

.width10em {
  width: 10em;
}

.width15em {
  width: 15em;
}

.width2em {
  width: 2em;
}

.vtop {
  vertical-align: top
}

.tab {
  border: 1px solid #337AB7;
  border-radius: 4px;
  font-size: 1em;
}

.main_body { 
  padding-left: 0;
  padding-right: 0;
}

.nav-pills li a{
  border-radius: 0;
}

.notice, .alert {
  padding: 0.5em;
  margin-top: 10px;
  text-align: center;
  color: white;
  clear: right;
  top: 0;
}

.inner_alert, .inner_notice {
  display: inline;
}

.hide-me {
  display: none;
}

.togglable {
  display: none;
}
.cal{
  text-align: center;
}

.light-grey-text {
  color: #A7A9AB !important;
  a {
    color: #A7A9AB !important;
  }
}

.red-text {
  color: #DF2D29;
  a {
    color: #DF2D29;
  }
}

.red_under_line{
  background-image: linear-gradient(#191970, #191970), linear-gradient(#f44336, #f44336) !important;
}

.orange_under_line{
  background-image: linear-gradient(#191970, #191970), linear-gradient(#ff5722, #ff5722) !important;
}


.search_query {
  margin-top: 13px !important;
}
#search_query {
  color: rgba(255, 255, 255, 0.843137);
}
#search_query::-webkit-input-placeholder { /* WebKit browsers */
  color: rgba(255, 255, 255, 0.843137);
}
#search_query:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #909;
  opacity:  1;
}
#search_query::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #909;
  opacity:  1;
}
#search_query:focus {
  color: white;
}
html.turbolinks-progress-bar::before {
  background-color: white !important;
  height: 3px !important;
}

.action_icon {
  padding-right: 10px; 

}

.btn-material-blue-grey-600 {
  background-color: #546e7a !important;
  color: rgba(255, 255, 255, 0.84) !important;
}

.btn-material-blue-grey-600:hover {
  background-color: #5c7986 !important;
}

.well {
  margin-right: 20px !important;
}

.progress-animated {
  width: 150px;
  overflow: hidden;
}

.toggle-button { 
  background-color: white; 
  margin: 5px 0; 
  border-radius: 20px; 
  border: 2px solid #D0D0D0; 
  height: 20px; 
  cursor: pointer; 
  width: 44px; 
  position: relative; 
  display: inline-block; 
  user-select: none;
  -webkit-user-select: none; 
  -ms-user-select: none; 
  -moz-user-select: none;
  vertical-align: -50%; 
}

.toggle-button a {
  cursor: pointer;
  outline: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  background-color: #c63328;
  float: left;
  margin: -3px 0 0 -3px;
  border: 0px;
  transition: left 0.3s;
}
.toggle-button-selected {
  background-color: #00b09f;
  border: 2px solid #00b09f;
  vertical-align: -50%; 
}
.toggle-button-selected a {
  margin: -3px 0 0 -3px;
  left: 26px;
  top: 0;
  border: none;
  width: 23px;
  height: 23px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.center {
  text-align: center;
}
.stage_item {
  float: left;
  border: 1px solid #CCCCCC;
  text-align: center;
  width: 15em;
  height: 4em;
  vertical-align: middle !important;
  background-color: white;
  margin-bottom: 4px;
}

.pointer {
  cursor: pointer;
}

.logo-color {
  color: white !important; 
}

.lazy-modal {
  text-align: left;
  display: none;
  form {
    /*margin: 0.2em;
    padding: 0.2em; */
    /*border: none;*/
    background: inherit;
    p {
      /*border-bottom: none;
      padding: 0.2em 0; margin: 0;  */
      color: #666666;
    }
  }
}

.ui-dialog {
  .modal-hidden {
    display: none;
  }
  .modal-visible-inline {
    display: inline;
  }
  .modal-visible-block {
    display: block;
  }
}

.ui-dialog-title {
  font-weight: normal;
}

.ui-dialog .ui-dialog-title {
  text-shadow: none !important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  padding: 0.5em;
}

.ui-dialog {
  font-size: 14px !important;
}

.width27 {
  width: 27em !important;
}

.padding_top_4em{
  padding-top: 4em;
}

.red_under_line{
  background-image: linear-gradient(#009688, #009688), linear-gradient(#f44336, #f44336) !important;
}

.red_border {
  border: 1px solid #DF2D29 !important;
}

.width34em {
  width: 34em;
}

.text_bold {
  font-weight: bold;
}


.dark-border-bottom {
  border-bottom: 1px solid #1D1D1B !important;
}

.dark-border-top {
  border-top: 1px solid #6F7072;
}

.offer_letter_logo {
  float: left;
  margin-left: 5em;
  width: 100px;
}

.offer_letter_address {
  text-align: right;
  margin-right: 2em;
}

.fulltime_letter {
  margin-top: 8em;
  margin-left: 5em;
}

.edit_account_width {
  max-width: 500px !important;
}

.not-active {
  pointer-events: none;
  cursor: default;
  color: #3f3f3f !important;
}

.ui-icon {
  display: inline-block !important;
  vertical-align: text-bottom;
}