@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src:  font-url('RobotoDraftRegular.woff2') format('woff2'), 
        font-url('RobotoDraftRegular.woff') format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src:  font-url('RobotoDraftMedium.woff2') format('woff2'), 
        font-url('RobotoDraftMedium.woff') format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src:  font-url('RobotoDraftBold.woff2') format('woff2'), 
        font-url('RobotoDraftBold.woff') format('woff');
}
@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src:  font-url('RobotoDraftItalic.woff2') format('woff2'), 
        font-url('RobotoDraftItalic.woff') format('woff');
}
/*# sourceMappingURL=roboto.css.map */