- if user_signed_in?
  %ul.nav.navbar-nav.right
    %li.inline-block
      = link_to 'Raise New Ticket', new_ticket_path
    %li.dropdown
      %a.inline-block.dropdown-toggle.navbar-brand{"data-toggle" => "dropdown"}
        Settings
        %b.caret
      %ul.dropdown-menu  
        %li
          %a= link_to 'Account', edit_user_path(current_user)
        %li
          %a= link_to 'Users', users_path(current_user)
        %li
          %a= link_to 'Sign Out', destroy_user_session_path, method: :delete