-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top.hori_padding
  .navbar-header
    - if user_signed_in?
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-brand.f21= link_to "Vyavasay", dashboard_users_path, class: "logo-color"
  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      = render 'layouts/navigation_links'
