!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Vyavasay'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Vyavasay'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    %header
      #loading
        Loading...
      = render 'layouts/navigation'
    %main{:role => "main"}
      #flash-container
        .flash.auto-hide.notice.alert-success{:class => hidden_if_empty?(notice)}
          .inner_notice.cal= notice
          .fr= link_to "x", "#", :class => "hide-flash"
          .clear
        .flash.auto-hide.alert.alert-danger{:class => hidden_if_empty?(alert)}
          .inner_alert= alert
          .fr= link_to "x", "#", :class => "hide-flash"
          .clear
      = yield
    = yield :page_js
